.wrap {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20rem;

    .btnMenu {
        position: absolute;
        top: 50%;
        left: 8rem;
        padding: 2rem;
        transform: translateY(-50%);

        img {
            width: 8rem;
        }
    }

    &Title {
        font-weight: 700;
        font-size: 7rem;
        text-align: center;
    }
}


.main {
    .visual {
        position: relative;

        &Top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 8rem;
            left: 0;
            width: 100%;
            padding: 0 10rem;

            .profile {
                display: flex;
                align-items: center;
                color: #ffffff;
                
                .userPictureWrap {
                    position: relative;

                    .user {
                        &Grade {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            top: -1.5rem;
                            left: -1rem;
                            width: 7rem;
                            height: 7rem;
                            background: #9751d6;
                            border-radius: 100%;
                            font-weight: 500;
                            font-size: 4rem;
                            line-height: 1;
                        }

						&Picture {
							width: 100%;
							height: 100%;
							object-fit: cover;

							&Inner {
								overflow: hidden;
								width: 18.4rem;
                    			height: 18.4rem;
								background: white;
								border-radius: 6rem;
							}
						}
                    }
                }

                .userName {
                    width: 30rem;
                    margin-left: 4rem;
                    font-weight: 500;
                    font-size: 6.6rem;
                }
            }

            .period {
                display: flex;
                width: 69rem;
                height: 16rem;
                background: #006fe7;
                border: 0.4rem solid white;
                border-radius: 8rem;

                .btnPeriod {
                    position: relative;
                    height: 100%;
                    line-height: 1;
                    width: 33.3%;
                    font-size: 6rem;
                    color: #508fff;

                    &.isActive {
                        font-weight: 700;
                        color: #057cfc;

                        span {
                            position: inherit;
                            z-index: 1;
                        }

                        &:before {
                            position: absolute;
                            top: -0.4rem;
                            left: -0.4rem;
                            right: -0.4rem;
                            bottom: -0.4rem;
                            background: white;
                            border-radius: 8rem;
                            content: "";
                        }
                    }
                }
            }
        }

        .currentInfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 26.66%;
            padding: 3.2rem;
            background: white;
            border-radius: 4rem;
            box-shadow: 0 3rem 3rem 0 rgba(0, 0, 0, 0.2);

            &:after {  	
                width: 0;
                height: 0;
                position: absolute;
                left: 50%;
                border-bottom: 2.6rem solid white;
                border-left: 1.9rem solid transparent;
                border-right: 1.9rem solid transparent;
                transform: translateX(-50%);
                content: "";
            }
            

            &.class {
                bottom: 52.5%;
                right: 6.94%;

                &:after {
                    bottom: -2.4rem;
                    transform: translateX(-50%) rotate(180deg);
                }
            }

            &.time {
                top: 57.85%;
                left: 5.55%;

                &:after {
                    top: -2.4rem;
                }
            }

            .info {
                &Title {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    font-size: 4.6rem;

                    .iconTitle {
                        display: inline-flex;
						img {
							width: 3.9rem;
						}
					}

                    span {
                        margin-left: 2rem;
                    }
                }
                
                &Desc {
                    margin-top: 2rem;
                    font-weight: 700;
                    font-size: 3.2rem;
                }

                &Value {
					font-weight: 900;
                    font-size: 8rem;
					
                }

                &Unit {
                    color: #898989;
                }
            }
        }
    }

    .panelInfo {
        margin-top: -9.2rem;
        padding: 0 10rem 8.9rem;

        .dateArea {
			margin: 0 12rem;

			&Wrap {
				position: relative;

				.swiper-button-prev ,
				.swiper-button-next {
					&:after {
						font-size: 6rem;
					}
				}

				.swiper-button-prev {
					left: 0;
				}

				.swiper-button-next {
					right: 0;
				}

				.swiper-button-disabled {
					opacity: 1;
					color: #999999;
				}
			}

			.swiper-slide {
				span {
					display: block;
					padding: 9.2rem 0;
					font-weight: 700; 
					font-size: 7rem;
					text-align: center;
				}
			}

			
        }

        .panel {
            &Section {
				&.section1 {
					margin-top: 8rem;

					.classDate {
						display: flex;
						justify-content: space-between;
						position: relative;
						width: 114rem;
						max-width: 100%;
						margin: 15.1rem auto 0;
	
						.classDateItem {
							& + .classDateItem {
								.itemIcon {
									&:after {
										display: block;
										position: absolute;
										top: 50%;
										left: -50%;
										margin-left: 2rem;
										width: 4rem;
										height: 4rem;
										background: url(/img/icon_plus.png) center no-repeat;
										background-size: contain;
										transform: translateY(-50%);
										content: "";
									}
								}
	
								&.totalItem {
									.itemIcon {
										&:after {
											background: url(/img/icon_equal.png) center no-repeat;
											background-size: contain;
										}
									}
								}
							}
						}
	
						.item {
							&Icon {
								display: inline-flex;
								align-items: center;
								justify-content: center;
								position: relative;
								width: 27.8rem;
								height: 27.8rem;
								border: 0.8rem solid #eeeeee;
								border-radius: 100%;
		
								.date {
									position: absolute;
									top: -2.9rem;
									right: -5.8rem;
									padding: 2.4rem 4rem;
									background: #057cfc;
									border-radius: 6rem;
									font-weight: 500;
									font-size: 5.6rem;
									color: white;
								}
		
								img {
									width: 100%;
									height: 100%;
								}
							}
	
							&Text {
								display: block;
								margin-top: 3.3rem;
								font-weight: 700;
								font-size: 5.6rem;
								text-align: center;
							}
						}
					}
				}

				&.section2 {
					margin-top: 20.8rem;

					.tableStudyStatus {
						width: 100%;
						margin-top: 7.1rem;
						border-bottom: 0.5rem solid #eeeeee;
						vertical-align: middle;
	
						tr {
							th, td {
								border-top: 0.5rem solid #eeeeee;
							}
							th {
								width: 24.6%;
								background: #f9f9f9;
								text-align: center;
							}
							td {
								padding:13rem 0 13rem 7.8rem;
								border-left: 0.5rem solid #eeeeee;
							}
						}
	
						.titleStatus {
							display: block;
							margin-top: 3rem;
							font-size: 4.4rem;
							line-height: 1.13;
							color: #7e7e7e;
						}
	
						.iconStatus {
							display: inline-block;
							width: 8.7rem;
							height: 8.1rem;
						}
	
						.study {
							&Title {
								padding-left: 8rem;
								font-family: "Malgun Gothic";
								font-weight: bold;
								font-size: 6.2rem;
								color: #222222;
	
								&.time {
									background: url(/img/icon_arrow_down.png) no-repeat left center;
									background-size: 3.8rem;
	
									& + .studyDesc {
										.highlight {
											color: #ff7d00;
										}
									}
								}
	
								&.class {
									background: url(/img/icon_arrow_up.png) no-repeat left center;
									background-size: 3.8rem;
	
									& + .studyDesc {
										.highlight {
											color: #18ac90;
										}
									}
								}
	
								&.fidelity {
									background: url(/img/icon_heart2.png) no-repeat left center;
									background-size: 3.8rem;
	
									& + .studyDesc {
										.highlight {
											color: #9751d6;
										}
									}
								}
	
								.studyValue {
									font-size: 9rem;
									color: #022222;
									letter-spacing: -0.5rem;
								}
							}
	
							&Desc {
								margin-top: 5.1rem;
								font-size: 5.2rem;
								line-height: 1.34;
							}
						}
					}
				}

				&.section3,
				&.section4 {
					margin-top: 19.4rem;

					.panel {
						&Title {
							display: flex;
							align-items: flex-end;
							justify-content: space-between;

							.minutes {
								font-size: 5rem;
							}

							.weekInfo {
								font-size: 4.4rem;

								.weekItem {
									position: relative;
									padding-left: 5.5rem;

									&:after {
										position: absolute;
										top: 50%;
										left: 0;
										width: 4rem;
										height:4rem;
										border-radius: 100%;
										transform: translateY(-50%);
										content: "";
									}

									& + .weekItem {
										margin-left: 5.4rem;
									}
									
									&.isCurrent {
										color: #057cfc;

										&:after {
											background: #057cfc;
										}
									}

									&.isLast {
										color: #5bc6b2;

										&:after {
											background: #5bc6b2;
										}
									}
								}
							}
						}
					}
				}

				&.section3 {
					.panel {
						&Title {
							display: flex;
							align-items: flex-end;
							justify-content: space-between;

							.minutes {
								font-size: 5rem;
							}

							.weekInfo {
								font-size: 4.4rem;

								.weekItem {
									position: relative;
									padding-left: 5.5rem;

									&:after {
										position: absolute;
										top: 50%;
										left: 0;
										width: 4rem;
										height:4rem;
										border-radius: 100%;
										transform: translateY(-50%);
										content: "";
									}

									& + .weekItem {
										margin-left: 5.4rem;
									}
									
									&.isCurrent {
										color: #057cfc;

										&:after {
											background: #057cfc;
										}
									}

									&.isLast {
										color: #5bc6b2;

										&:after {
											background: #5bc6b2;
										}
									}
								}
							}
						}

						&Content {
							margin-top: 7.6rem;
	
							.weeklyStudy {
								&Item {
									display: flex;
									justify-content: space-between;
									position: relative;
									padding: 3.5rem 0;

									& + .weeklyStudyItem {
										&:before {
											position: absolute;
											top: -0.2rem;
											left: 21rem;
											width: calc(100% - 21rem);
											height: 0.4rem;
											background: #eeeeee;
											content: "";
										}
									}

									.day {
										display: inline-flex;
										align-items: center;
										justify-content: center;
										width: 21rem;
										height:21rem;
										border: 0.4rem solid #eeeeee;
										border-radius: 6rem;
										font-size: 5rem;
										color: #999999;
									}

									.studyData {
										display: flex;
										flex-direction: column;
										justify-content: center;
										width: calc(100% - 21rem);
										padding-left: 5.43%;

										&Item {
											display: flex;
											align-items: center;
											justify-content: space-between;

											&.current {
												.dataNum {
													color: #057cfc;
												}

												.graph {
													&Value {
														background: #057cfc;
													}
												}
											}

											&.last {
												margin-top: 4rem;

												.dataNum {
													color: #5bc6b2;
												}

												.graph {
													&Value {
														background: #5bc6b2;
													}
												}
											}

											.graph {
												overflow: hidden;
												position: relative;
												width: 84.52%;
												height: 3.3rem;
												background: #eeeeee;
												border-radius: 1.75rem;

												&Value {
													position: absolute;
													left: 0;
													top: 0;
													width:100%;
													height: 100%;
													border-radius: 1.75rem;
													content: "";
												}
											}

											.dataNum {
												font-weight: bold;
												font-size: 5.2rem;
											}
										}
									}
								}
							}
						}
					}
				}

				&.section4 {
					.panelContent {
						margin-top: 17rem;

						.weeklyStudy {
							&Graph {
								display: flex;
								justify-content: space-between;
								height: 50rem;
								background-size: 100% 5rem;
								background-image: linear-gradient(to bottom, #f6f6f6 2px, transparent 2px);
								border-bottom: 0.4rem solid #f6f6f6;
							}

							&Item {
								display: flex;
								flex-direction: column;

								.studyData {
									display: flex;
									align-items: flex-end;
									height:100%;

									&Item {
										position: relative;
										width: 3.6rem;
										height: 50%;

										.dataNum {
											position: absolute;
											top: -5.2rem;
											left: 50%;
											font-size: 4rem;
											transform: translateX(-50%);
										}

										&.current {
											color: #057cfc;

											.graph {
												background: #057cfc;
											}
										}

										&.last {
											margin-left: 2rem;
											color: #5bc6b2;

											.graph {
												background: #5bc6b2;
											}
										}

										.graph {
											display: block;
											width: 100%;
											height: 100%;
											border-top-left-radius: 1.75rem;
											border-top-right-radius: 1.75rem;
										}
									}
								}
							}

							.week {
								&List {
									display: flex;
									justify-content: space-between;
									margin-top: 4.2rem;
								}

								&Item {
									width: 9.2rem;
									text-align: center;
									font-weight: 500;
									font-size: 4.6rem;
								}
							}
						}
					}
				}

				&.section5 {
					margin-top: 19.8rem;

					.panelContent {
						border-top: 0.4rem solid #eeeeee;
						margin-top: 7.1rem;						 	

						.tableWrap {
							overflow-y: auto;
							position: relative;
							height: 156.7rem;
						}

						.tableStudyVolume {
							width: 100%;
							text-align: center;
							vertical-align: middle;

							tr {
								th, td {
									border-left: 0.4rem solid #eeeeee;

									&:first-child {
										border-left: 0;
									}
								}

								th {
									position: sticky; 
									top: 0; 
									padding: 4.2rem 0;
									background: #f9f9f9;
									font-size: 4.4rem;
									color: #7e7e7e;

									span {
										display: inline-block;
										position: relative;
										padding-left: 6.8rem;

										&:before {
											position:absolute;
											left: 0;
											top:50%;
											transform: translateY(-50%);
											content: "";
										}

										&.title {
											&Class {
												&:before {
													width:5.2rem;
													height:4.8rem;
													background: url(/img/icon_class.png) no-repeat left center;
													background-size: 5.2rem;
													
												}
											}

											&Time {
												&:before {
													width:4.4rem;
													height:5.4rem;
													background: url(/img/icon_time.png) no-repeat left center;
													background-size: 4.4rem;
													
												}
											}
										}
									}
								}

								td {
									padding: 7.4rem 0;
									border-bottom: 0.4rem solid #eeeeee;
									font-size: 5.2rem;
								}
							}
						}
					}
				}

				&.section6 {
					margin-top: 19.6rem;

					.panelContent {
						margin-top: 7.1rem;

						.listStudyRatio {
							display: flex;
							flex-wrap: wrap;

							&Item {
								display: flex;
								align-items: center;
								width: 33.3%;
								height: 24rem;
								border: 0.4rem solid #f2f2f2;
								border-top: 0;
								border-left: 0;

								&:nth-child(-n+3) {
									border-top: 0.4rem solid #f2f2f2;
								}

								&:nth-child(3n+1) {
									border-left: 0.4rem solid #f2f2f2;
								}
							}
							
							.iconWrap {
								display: flex;
								align-items: center;
								justify-content: center;
								width: 20rem;

								img {
									width: 10.7rem;
								}
							}

							.contWrap {
								padding: 0 1.5rem;
								font-weight: 700;

								span {
									display: block;

									&.subject {
										font-size: 4rem;
										color: #333333;
									}

									&.ratio {
										margin-top: 3rem;
										font-size: 6rem;
										color: #057cfc;
									}
								}
							}
						}
					}
				}
            }

            &Title {
                font-weight: 700; 
                font-size: 7rem; 
            }
        }
    }
}